 .carousel-container {
    position: relative;
    width: 500px;
    margin: auto;
}

.carousel-image {
    display: block;
    width: 100%;
    height: auto;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    z-index: 2;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.carousel-container{
    height: 350px;
    width: 400px;
}